.tasks {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tasksInfo {
    display: flex;
    justify-content: space-between;
}

.tasksCount {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tasksCount strong {
    font-size: var(--text-sm);
}

.tasksCount.tasksCreated strong {
    color: var(--blue);
}

.tasksCount.tasksDone strong {
    color: var(--purple);
}

.tasksCount span {
    background: var(--gray-400);
    color: var(--gray-200);

    font-size: var(--text-xs);
    font-weight: var(--font-bold);

    border-radius: 10px;

    padding: .125rem .5rem;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}